*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(50, 50, 50);
    color: white;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 5rem;
}

.homeinfo{
    text-align: left;
    margin-bottom: 20px;
    margin-top: 10px;
}

.vin{
    color: rgba(255, 213, 0, 0.929);
}

.homeinfo p {
    color: gold;
    font-size: smaller;
}

.homeinfo h1 {
    font-size: 1.8rem;
    margin-bottom: 3px;
}

button.hireme, button.resume{
    display: inline-block;
    margin: 15px 5px 5px 5px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 1s ease;
}

.hireme{
    background-color: gold;
    color: blue;
}
.hireme:hover {
    background-color: whitesmoke;
    color: black;
}

.resume{
    background-color: rgb(54, 54, 255);
    color: gold;
}
.resume:hover{
    background-color: whitesmoke;
    color: black;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}

.img img{
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

@media (min-width: 768px)
{
    .home{
        flex-direction: row;
        justify-content:space-evenly;
        padding: 20px;
    }

    .homeinfo{
        max-width: 50%;
    }

    .homeinfo h1{
        font-size: 2.5rem;
    }

    .homeinfo p{
    line-height: 20px;
    }

    span{
        font-size: larger;
    }

    .vin{
        font-size: 2.5rem;
    }

    .img{
        max-width: 35%;
        margin-top: 4rem;
    }

    button.hireme, button.resume{
        font-size: 1.1rem;
    }


}
